a {
  color: white;
  letter-spacing: 1px;
  padding-left: 5px;

  &:hover {
    color: black;
  }
}

.blackBackgroundHover {
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
